<!DOCTYPE html>
<html>
<head>
  <title>ByeNY</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div id="administrator_nav">
  <% if administrator_signed_in? %>
    Signed in as <%= current_administrator.email %>. Not you?
    <%= link_to "Sign out", destroy_administrator_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_administrator_registration_path %> or <%= link_to "sign in", new_administrator_session_path %>
  <% end %>
</div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
</head>

<body>
 <ul class="nav nav-pills navbar-fixed-top">
  <li class="active">
    <a href="#">ByeNY</a>
  </li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Something Else?</a></li>
</ul>
<hr>

 <!--  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">ByeNy</a></li>
      <li><a href="#">Graphs?</a></li>
      <li><a href="#">Data?</a></li>
      <li><a href="#">About Us?</a></li>
    </ul>
  </div>
</div> -->
<%= yield %>

</body>
</html>
